.green {
  background: var(--green-2);
  color: var(--green-3);
}

.primary {
  background: var(--primary-color-hover);
  color: var(--primary-color);
}

.yellow {
  background: var(--yellow-2);
  color: var(--yellow-3);
}
